<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SN" value="90E52F4D-BCA5-422F-897A-A8D3CEF35DBF"/>
    <add key="MAC" value="20:47:47:C8:CB:42"/>
    <add key="MainExeName" value="BDAuscultation.exe"/>
    <!--<add key="MainExeName" value="RemoteAuscultEng.exe"/>-->
    <add key="Path" value="E:\WorkSpace\Private\ESkin-master20180104\ESkin-master\BDAuscultation\bin\Release"/>
    <!--<add key="Path" value="E:\WorkSpace\Private\ESkin-master20180104\ESkin-master\BDRemote\bin\Release"/>-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuscultationService"  useDefaultWebProxy="false" maxBufferPoolSize="10484760" maxReceivedMessageSize="10484760">
          <readerQuotas maxDepth="40960" maxStringContentLength="10484760" maxArrayLength="10484760"
                        maxBytesPerRead="40960" maxNameTableCharCount="10484760" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://114.55.248.163/Query" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAuscultationService" contract="AuscultationService.IAuscultationService"
        name="WSHttpBinding_IAuscultationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>