<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="serverUrl" value="ws://192.168.1.197:2014" />-->
    <!--<add key="serverUrl" value="ws://114.55.248.163:2014" />-->
    <add key="serverUrl" value="ws://114.55.248.163:2014" />
    <add key="startPoint" value="400,200" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuscultationService" useDefaultWebProxy="false" maxBufferPoolSize="10484760" maxReceivedMessageSize="10484760">
          <readerQuotas maxDepth="40960" maxStringContentLength="10484760" maxArrayLength="10484760" maxBytesPerRead="40960" maxNameTableCharCount="10484760" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://114.55.248.163/Query" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuscultationService" contract="AuscultationService.IAuscultationService" name="WSHttpBinding_IAuscultationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>