<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="serverUrl" value="ws://192.168.1.197:2014" />-->
    <add key="serverUrl" value="ws://114.55.248.163:2014" />
    <!--<add key="serverUrl" value="ws://127.0.0.1:2014" />-->
    <add key="localData" value="E:\WorkSpace\Code\客户\BluetoothAuscultation20160825\BluetoothAuscultation\BluetoothAuscultation\bin\Debug" />
    <add key="virtualMac" value="20:47:47:C8:CB:42" />
    <add key="themeColor" value="240,240,240" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuscultationService" useDefaultWebProxy="false" maxBufferPoolSize="10484760" maxReceivedMessageSize="10484760">
          <readerQuotas maxDepth="40960" maxStringContentLength="10484760" maxArrayLength="10484760" maxBytesPerRead="40960" maxNameTableCharCount="10484760" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://114.55.248.163/Query" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuscultationService" contract="AuscultationService.IAuscultationService" name="WSHttpBinding_IAuscultationService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>